body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f4f6;
}

h1 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#pokemon-info {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}



.bold-text {
    font-weight: bold;
}
