
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
 }
 html{
     scroll-behavior: smooth;
 }
 
 #welcome-section{
     background-color: black;
    height: 100vh;
 
 } 
 
 #navbar{
     background-color: brown;
     position:fixed;
     width: 100%; 
     padding: 20px;
     z-index: 1;
     
 }
 #navbar ul {
     display: flex;
     justify-content: end;
     list-style: none;
 }
 #navbar ul li a {
     color: white;
     font-size: 30px;
     text-decoration: none;
     padding: 22px;
 }
 #navbar ul li a:hover{
    background-color: blueviolet;
 }
 #navbar ul ul li a{
    color: rgb(9, 129, 129);
    
 }
#navbar ul ul {
    width: 30px;
    display: inline;
    position:absolute;
    z-index: 999;
}
 
 
 .page-1{
     color: rgb(247, 238, 238);
     text-align: center;
   
     
 }
 .page-1 h1{
     padding-top: 20%;
     font-size: 50px;
     
 }
 .page-1 h3{
    font-size: 35px;
    padding: 10px;
 }
 #about{
    background-color: #303841;
 }
 #about h1{
    color: white;
     margin: auto;
 }
 #part-1{
    display: flex;
 }
 
 #part-2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
   padding-bottom: 20px;
 }
 #about img{
    height: 50vh;
    width: 30vw;
    margin-top: 50px;
    
    box-shadow: 5px 4px 6px 0px #45567D;
    border-radius: 5px;
    transition:0.3s;
 }

 #about img:hover{
    transform: scale(1.1);
 }
 #part-1 img{
    margin-left: 150px;

 }


 #part-2 img{
    margin-right: 150px;
 }
 #about p{
 
    font-size: 20px;
 }
 #development{
    color: white;
   
    line-height: 30px;
    margin-top: 140px;
    margin-left: 100px;

 }
 #development:hover{
    font-style: italic;
    
 }
 #design{
    color: white;
  
    line-height: 30px;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 70px;

 }
 #design:hover{
    font-style: italic;
    
 }


 #project-title{
     color: blueviolet;
     background-color: #45567D;
 }
 #title h1{
     color: white;  
     padding-top: 90px;
     padding-bottom: 5px;
     font-size: 45px;
     border-bottom:2px solid white;
     width: 45vw;
     margin-left: auto;
     margin-right: auto;
     text-align: center;    
 }
 .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    grid-column-gap:15px ;
    grid-row-gap: 40px;
    margin-left: 4%;
    margin-right: 5%;
 }
  img{
     height: 450px;
     width: 400px;
     cursor: pointer;
 }
 #caption{
     width: 100%;
     height: 15%;
    
     background-color: #303841;
     margin-top: -5px;
     text-align: center;
     padding: 30px;
    color: #303841;
     font-size: 20px;
     cursor: pointer;
 }
 
 a{
     text-decoration: none;
     color: white;
 } 
 #caption:hover{
     color: red;
    
 }
 #btn button{
     width: 9%;
     height: 40px;
     margin-top: 60px;
     margin-left: 45%;
     margin-bottom: 70px;
     font-size: 20px;
     background-color: #303841;
     color: white;
     border: none;
     cursor: pointer;
     
 
 }
 #btn button:hover{
     background-color: brown;
 }
 #contact{
     background-color: #303841;
     height: 90vh;
     color: white;
 }
 h1 {
     font-size: 70px;
     text-align: center;
     padding-top: 120px;
  
    
    
     
 }
 #description{
     font-size: 30px;
     text-align: center;
     margin-top: 10px;
    
   
   
 }
 #icons, #facebook , #github ,#twitter , #email , #phone{
 
     display: flex;
     font-size: 30px;
    margin-top: 30px ;
    margin-left: 40px;
    gap: 10px;
    cursor: pointer;
    
 }
 #facebook{
     margin-left: 200px;
 }
 #facebook:hover{
     animation: bounce 2s linear;
 }
 #github:hover{
     animation: bounce 2s linear;
 }
 #twitter:hover{
     animation: bounce 2s linear;
 }
 #email:hover{
     animation: bounce 2s linear;
 }
 #phone:hover{
     animation: bounce 2s linear;
 }
 
 @keyframes bounce{
     20% , 50% , 80% , to{
         transform: translateY(0);
     }
     40%{
         transform: translateY(10px);
     }
 }
 
 footer{
     display: flex;
     justify-content: space-evenly;
     font-size: 20px;
     margin-top:100px;
     border-top: 3px solid brown;
 
   
 
 }
 footer p{
     margin-top: 60px;
 }

 @media(max-width:768px) {
    #welcome-section{
        background-color: black;
        height: 400vh;
        width: 400vw;
        
    }
    .page-1 h1{
        
       padding-top: 70%;
       font-size: 80px;
    }
    #about{
        width: 400vw;
    }
    #project-title{
        width: 400vw;
        height: 300vh;
    }
    #title h1{
        color: white;
        font-size:4em;
        padding-top: 10%;
        width: 70%;
        padding-bottom: 5px;
    }
    #contact{
        
        height: 350vh;
        width: 400vw;
    }
    #contact h1{
       
        padding-top: 50%;
        font-size: 6em;
        padding-bottom: 5px;
    }
    footer{
        margin-top: 70%;
    }
    #about{
        height: 300vh;
    }
    #about img{
       border: 2px solid black;
      width: 120vw;
    }
    #part-1{
        margin-top: 20%;
    }
   #development{
        margin-top: 7%;
        margin-right: 60px;
    }
    #part-2{
        margin-top: 20%;
    }
    #design{
        margin-top: 5%;
        margin-left: 15%;

    }
    #project-title{
        height: 400vh;
        
    }
    img{
        width: 550px;
        height: 450px;
       

    }
   .grid{
    
    grid-template-columns: 500px 500px;
    grid-template-rows: 530px 530px 530px;
  
    margin-right: 15%;
    grid-column-gap: 10%;
    margin-top: 7%;
    margin-left: 5%;
    
    

    
   }
   #caption{
    width: 110%;
   }
   #btn{
    margin-top:3%;
   }
    


 }
